.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 130px;
    width: calc(100% - 15px);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.buttons > button {
    margin: 5px;
}

.container {
    width: calc(100% - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
}